<br>

  <section id="course-information">

    <div class="section-title">
      Courses
    </div>

    <div class="container">
      <div class="row" >
        <div class="column">
          <div class="card">
            <img src="https://education.vex.com/stemlabs/sites/default/files/2021-10/IQ%20gen%202%20Simple%20Clawbot-Tile.png" alt="Avatar" style="width:100%">
            <br>
            <h3> Young Innovator Course </h3>
              <div class="course-description">
                <br>
                Description:
                <li>Design and build your very own robot</li>
                <li>Program your robot to perform human tasks with VEXcode IQ</li>
                <li>Automate your robot to navigate obstacles using sensors</li>
                <br>
                Details:
                <li>Every Saturday, starting 1st July</li>
                <li>9am - 11am</li>
                <li>121 Dover Rd, Singapore 139650, Anglo-Chinese School (Independent)</li>
                <li>Register before 26th June for an early bird price of $700 (Standard Registration: $750)</li>
              </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="https://education.vex.com/stemlabs/sites/default/files/2021-09/Lesson%201%20Tile.png" alt="Avatar" style="width:100%">
            <br>
            <h3>June Discovery Workshop</h3>
              <div class="course-description">
              <br>
              Description:
              <li>Discover the basics of building and programming a robot</li>
              <li>Learn how sensors and motors interact</li>
              <li>Control your robot to complete tasks</li>
              <br>
              Details:
              <li>5th - 9th June</li>
              <li>9am - 11am</li>
              <li>121 Dover Rd, Singapore 139650, Anglo-Chinese School (Independent)</li>
              <li>Register before 29th May for an early bird price of $350 (Standard Registration: $400)</li>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
      </div>
    </div>

  </section>