<style>
    .card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
      transition: 0.4s;
      width: auto;
      background:#fff;
      text-align:center;
      font-size:16px;
      float:left;
      margin:10px;
      padding:30px;
    }  
  
    .card:hover{
      box-shadow:0 8px 16px rgba(0,0,0,0.6);
    }
  
    .container{
      padding:2px 16px;
      max-width: auto;
    }
  
    .section-title{
      text-align:center;
      font-size:2em;
      padding:30px;
      font-weight:bolder;
    }
  
    .course-description{
      text-align:left;
    }
    </style>  